<a href="https://colab.research.google.com/github/konkasivaji/690-stats-and-visu/blob/main/Assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd


1. Use Pandas to read the file census_costs.txt file

In [57]:
df =pd.read_csv("/census_costs.txt", sep='\t')
df

                                            Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                               Average Cost Per Person
1790        3,929,214        $44,377                                                1.13 cents
1800        5,308,483        $66,109                                                1.24 cents
1810        7,239,881        $178,445                                               2.46 cents
1820        9,633,822        $208,526                                               2.16 cents
1830        12,866,020       $378,545                                               2.94 cents
1840        17,069,458       $833,371                                               4.88 cents
1850        23,191,876       $1,423,351                                             6.14 cents
1860        31,443,321       $1,969,377                                             6.26 cents
1870        38,558,371       $3,421,198                                             8.87 cents
1880        50,155,783       $5,790,678                                            11.54 cents
1890        62,979,766       $11,547,127                                           18.33 cents
1900        76,303,387       $11,854,000                                           15.54 cents
1910        91,972,266       $15,968,000                                           17.07 cents
1920        105,710,620      $25,117,000                                           23.76 cents
1930        122,775,046      $40,156,000                                           32.71 cents
1940        131,669,275      $67,527,000                                           51.29 cents
1950        151,325,798      $91,462,000                                           60.44 cents
1960        179,323,175      $127,934,000                                          71.34 cents
1970        203,302,031      $247,653,000                                                $1.22
1980        226,542,199      $1,078,488,000                                              $4.76
1990        248,718,301      $2,492,830,000                                             $10.02
2000        281,421,906      $4.5 Billion                                               $15.99
2010*       308,745,538      $13 Billion                                                $42.11

2. Find out how many rows and columns it has

In [58]:
df.shape

(24, 1)

3. Display first 10, last 10, and random 10 rows

In [59]:
df.head(10)

                                         Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                            Average Cost Per Person
1790        3,929,214        $44,377                                             1.13 cents
1800        5,308,483        $66,109                                             1.24 cents
1810        7,239,881        $178,445                                            2.46 cents
1820        9,633,822        $208,526                                            2.16 cents
1830        12,866,020       $378,545                                            2.94 cents
1840        17,069,458       $833,371                                            4.88 cents
1850        23,191,876       $1,423,351                                          6.14 cents
1860        31,443,321       $1,969,377                                          6.26 cents
1870        38,558,371       $3,421,198                                          8.87 cents

In [60]:
df.tail(10)

                                 Source: https://www.genealogybranches.com/censuscosts.html
1920  105,710,620 $25,117,000                                           23.76 cents
1930  122,775,046 $40,156,000                                           32.71 cents
1940  131,669,275 $67,527,000                                           51.29 cents
1950  151,325,798 $91,462,000                                           60.44 cents
1960  179,323,175 $127,934,000                                          71.34 cents
1970  203,302,031 $247,653,000                                                $1.22
1980  226,542,199 $1,078,488,000                                              $4.76
1990  248,718,301 $2,492,830,000                                             $10.02
2000  281,421,906 $4.5 Billion                                               $15.99
2010* 308,745,538 $13 Billion                                                $42.11

In [61]:
df.sample(10)

                              Source: https://www.genealogybranches.com/censuscosts.html
1870 38,558,371  $3,421,198                                           8.87 cents
1890 62,979,766  $11,547,127                                         18.33 cents
1800 5,308,483   $66,109                                              1.24 cents
1930 122,775,046 $40,156,000                                         32.71 cents
1860 31,443,321  $1,969,377                                           6.26 cents
1790 3,929,214   $44,377                                              1.13 cents
1950 151,325,798 $91,462,000                                         60.44 cents
2000 281,421,906 $4.5 Billion                                             $15.99
1960 179,323,175 $127,934,000                                        71.34 cents
1810 7,239,881   $178,445                                             2.46 cents

4. Find out the data types of all columns - use info() function

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 24 entries, ('Census Year', 'Total Population', 'Census Cost') to ('2010*', '308,745,538', '$13 Billion')
Data columns (total 1 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Source: https://www.genealogybranches.com/censuscosts.html  24 non-null     object
dtypes: object(1)
memory usage: 2.5+ KB

5. Find out the summary statistics of all columns

In [63]:
df.describe()

       Source: https://www.genealogybranches.com/censuscosts.html
count                                                  24
unique                                                 24
top                               Average Cost Per Person
freq                                                    1

In [76]:
df.isnull()

                                             Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                                                 False
1790        3,929,214        $44,377                                                     False
1800        5,308,483        $66,109                                                     False
1810        7,239,881        $178,445                                                    False
1820        9,633,822        $208,526                                                    False
1830        12,866,020       $378,545                                                    False
1840        17,069,458       $833,371                                                    False
1850        23,191,876       $1,423,351                                                  False
1860        31,443,321       $1,969,377                                                  False
1870        38,558,371       $3,421,198                                                  False
1880        50,155,783       $5,790,678                                                  False
1890        62,979,766       $11,547,127                                                 False
1900        76,303,387       $11,854,000                                                 False
1910        91,972,266       $15,968,000                                                 False
1920        105,710,620      $25,117,000                                                 False
1930        122,775,046      $40,156,000                                                 False
1940        131,669,275      $67,527,000                                                 False
1950        151,325,798      $91,462,000                                                 False
1960        179,323,175      $127,934,000                                                False
1970        203,302,031      $247,653,000                                                False
1980        226,542,199      $1,078,488,000                                              False
1990        248,718,301      $2,492,830,000                                              False
2000        281,421,906      $4.5 Billion                                                False
2010*       308,745,538      $13 Billion                                                 False

In [77]:
df.dropna()

                                            Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                               Average Cost Per Person
1790        3,929,214        $44,377                                                1.13 cents
1800        5,308,483        $66,109                                                1.24 cents
1810        7,239,881        $178,445                                               2.46 cents
1820        9,633,822        $208,526                                               2.16 cents
1830        12,866,020       $378,545                                               2.94 cents
1840        17,069,458       $833,371                                               4.88 cents
1850        23,191,876       $1,423,351                                             6.14 cents
1860        31,443,321       $1,969,377                                             6.26 cents
1870        38,558,371       $3,421,198                                             8.87 cents
1880        50,155,783       $5,790,678                                            11.54 cents
1890        62,979,766       $11,547,127                                           18.33 cents
1900        76,303,387       $11,854,000                                           15.54 cents
1910        91,972,266       $15,968,000                                           17.07 cents
1920        105,710,620      $25,117,000                                           23.76 cents
1930        122,775,046      $40,156,000                                           32.71 cents
1940        131,669,275      $67,527,000                                           51.29 cents
1950        151,325,798      $91,462,000                                           60.44 cents
1960        179,323,175      $127,934,000                                          71.34 cents
1970        203,302,031      $247,653,000                                                $1.22
1980        226,542,199      $1,078,488,000                                              $4.76
1990        248,718,301      $2,492,830,000                                             $10.02
2000        281,421,906      $4.5 Billion                                               $15.99
2010*       308,745,538      $13 Billion                                                $42.11